


<div style="padding: 15px;">
<h2>Live Stream Editor</h2>

<div>
    <input type="text" placeholder="Add Title">
</div>
<div>
    <input type="date">
</div>
<div>
    <input type="text">
</div>
<div>
    <input type="text">
</div>
<div>
    <input type="date">
</div>

<h2>Event Details</h2>
<div>
    <p>
        <textarea name="address" id="address" cols="60" rows="4" placeholder="Add Event Details" id="textone"></textarea>
    </p>
</div>
<div>
    <p>
        <textarea name="address" id="address" cols="60" rows="4" placeholder="Guests" id="texttwo"></textarea>
    </p>
</div>
<div>
<button class="btn btn-secondary">Save</button>
</div>

</div>
